*{
    margin: 0;
    border: 0;
}
header{
    margin-bottom: 40px;
}
a{
    text-decoration: none;
    color: white;
   
}
section{
    padding: 10px 0;
}
body{
    background-color: #E0F7F7;
    background: linear-gradient(to right, #81e4e1, #87c9e0);    height: 100%;
    font-family: 'Arial', sans-serif;
}
h1,h2,h3{
    font-weight: bold;
    font-size: 2rem;

}
p{
    font-size: 1.1em;
    line-height: 1.6em;
}
.navbar{
    display :flex;
    justify-content: space-around;
    background-color: #008080;
}
.content{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 30%;
}
.image>img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left :60px;
    object-fit: cover;
}
.image{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

nav a {
    color: white;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

nav a:hover {
    color: #2a6b52; 
    background-color: #87c9e0;  
    border-radius: 5px;
}
.btn{
    border:none;
}
#lc{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-bottom: 3px;
}

